.main-container {
  width: 100%;
}

.content-container {
  display: grid;
}

.grid-img-right {
  grid-template-columns: 2fr 1fr;
}

.grid-img-left {
  grid-template-columns: 1fr 2fr;
}

.img-content-right {
  justify-self: flex-end;
}

.img-content-left {
  justify-self: flex-start;
}

.info-content {
  max-width: 660px;
  width: 100%;
  justify-self: center;
  align-self: center;
}

.content-title {
  font-family: var(--secondary-font);
  font-size: 2.5rem;
  color: var(--text-orange);
  padding-bottom: 1rem;
}
